speaker/speaker_voice/*
!speaker/speaker_voice/

speaker/speaker_config/*
!speaker/speaker_config/

data/huggingface_models/*
!data/huggingface_models/

data/whisper_models/*
!data/whisper_models/

data/temp
!data/temp/

data/tts_models/*
!data/tts_models/

output/output_voice/*
!output/output_voice/

output/output_pptx/*
!output/output_pptx/

data/ffmpeg/*
!data/ffmpeg/

.venv

.idea